{
	"apexInsertFinalNewline": false,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"printWidth": 180,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"xmlSelfClosingSpace": true,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		},
		{
			"files": "doc*/**/*.html",
			"options": {
				"parser": "html",
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 150,
				"htmlWhitespaceSensitivity": "ignore",
				"singleQuote": false
			}
		}
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
